.PostBox{
    width: 100%;
    background-color: white;
    margin-top: 3rem;
}
.postInfo{
    width: 100%;
    background-color: #ddd;
    /* padding: 1rem; */
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.title{
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
}
.cate{
    background-color: #42464F;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    display: inline-block;
    font-size: 0.9rem;
}
.postInfoBot{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}
.contentBox{
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
.recommendBox{
    width: 100%;
    text-align: center;
    padding-top: 5rem;

}
.recommendBox > button{
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}
.recommendBox > button > span:nth-child(1){
    color: white;
}