.btn{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    gap: 0.3rem;
    border: none;
    background-color: rgb(61, 65, 77);
    color: white;
    border-radius: 0.5rem;
}