.btn{
    font-size: 1rem;
    background: none;
    outline: none;
    border: none;
    color: white;
    background-color: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 0.5rem;
}
.btn:hover{
    background-color: rgba(255,255,255,0.5);
}