.nav{
    width: 100%;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.15); */
    background-color: white;
    overflow-x: auto;
    padding: 0.7rem 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid #ddd;
}
.nav::-webkit-scrollbar {
    height: 10px;
    padding: 100px;
}

.nav::-webkit-scrollbar-thumb {
    background: #42464F; 
    border-radius: 10px; 
}

.nav::-webkit-scrollbar-track {
    background: rgba(220, 20, 60, .1);  
}
.nav a{
    color: white;
    border: none;
    padding: 0.2rem 2rem;
    white-space: nowrap;
    border-radius: 1rem;
    background-color: #3d414d;
    font-size: 0.9rem;
    text-align: center;
}
.nav a:nth-last-child(1){
    margin-right: 0rem;

}