.postListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.detailLink{
    display: block;
}
.postHead{
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}
.post{
    width: 100%;
    display: flex;
    padding: 0.6rem 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
}
.post div{
    display: flex;
}
.post:hover{
    background-color: #ddd;
}
.post p,
.postHead p{
    text-align: center;
    font-size: 0.9rem;
}
.tr{
    width: 100%;
}
.idx{
    /* background-color: antiquewhite; */
    width: 4rem;
}
.title{
    /* background-color: red; */
    width: calc(100% - 28rem);
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.writer{
    /* background-color: salmon; */
    width: 6rem;
}
.date{
    /* background-color: green; */
    width: 10rem;
}
.view{
    /* background-color: black; */
    width: 4rem;
}
.likeCount{
    /* background-color: greenyellow; */
    width: 4rem;
}
.cate{
    background-color: #42464F;
    color: white;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    display: inline-block;
}
.noPost{
    background-color: white;
    text-align: center;
    margin: 0 0;
    padding: 2rem 0;
    height: 500px;
    line-height: 500px;
    /* background-color: #42464F;
    vertical-align: middle; */
}
@media screen and (max-width: 768px) {
    .post{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .idx{
        display: none;
    }
    .title{
        width: 100%;
        /* margin-bottom: 0.5rem; */
    }
    .post p{
        text-align: left;
    }
    .post > div{
        display: flex;
    }
    .post > div > p{
        text-align: right;
        white-space: nowrap;
    }
    .postHead{
        display: none;
    } 
    
    .writer,
    .date,
    .view,
    .likeCount{
        width: auto;
        display: flex;
    }
    .writer{
        padding-left: 0.1rem;
    }
    .view,
    .likeCount{
        margin-left: 0.5rem;
    }
    .mo_block{
        display: block;
    }
}