.stickyBoxOuter{
    width: calc(20% - 0.5rem);
}
.stickyBox{
    width: 100%;
    position: sticky;
    top: 100px;
}
.innerBox{
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    background-color: rgb(252, 253, 254);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.boxTitle{
    display: block;
    padding-bottom: 0.3rem;
    /* margin-bottom: 0.3rem; */
    border-bottom: 2px solid #ccc;
}
.postLink{
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 0.3rem 0.5rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.postLink:hover{
    background-color: #ddd;
}